@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
}

.logo {
    width: 60%;
    color: rgba(0,136,169,5);
    cursor: pointer;
    margin-left: 30px;
}

.navItems{
    width: 30%;
}

.galleryLink, .roomsLink, .registerBtn, .loginBtn {
    display: inline-block;
    padding: 0px 12px;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.galleryLink:hover, .roomsLink:hover, .registerBtn:hover {
    color: rgba(0,136,169,0.8);
}

.loginBtn {
    padding: 5px 12px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.loginBtn:hover {
    background-color: rgba(0,136,169,0.8);
}

